table {
    table-layout: fixed;
    width: 87%;
    column-width: 29%;
    background-color: #e3d9cc;
    padding: 5%;
    font-family: 'Krub', sans-serif;
}

body {
    background-color: #9c9583;
    background-image: url('images/papers.jpg');
}

h1{
    font-family: 'Krub', sans-serif;
    font-size: 300%;
}
h2 {
    font-family: 'Krub', sans-serif;
}